<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Remote Jobs</title>
  </head>
  <body>
    <h1>Remote Jobs</h1>
    <h3>{{num_jobs}} {{subject}} jobs found.</h3>
    <a href="http://127.0.0.1:5000/">Go back</a>

    <div class = "jobs">
        <p>
        {% for job in jobs %}
            {{job['title']}}</br>
            {{job['company']}}</br>
            <a href="{{job['url']}}">Apply</a>
            </br></br>
        {% endfor %}
       </p>
      </div>
  </body>
</html>
